@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Merienda:wght@700&display=swap');
@tailwind base;

@tailwind components;

@tailwind utilities;


.card{
    @apply bg-white rounded overflow-hidden shadow-md relative;
}

.badge{
    @apply bg-sky-200 text-lego text-base uppercase rounded-full p-2 absolute top-0 ml-2 mt-2 hover:text-sky-300 duration-300;
}

.addAndDel{
    @apply hover:text-sky-300 duration-300 text-lego
}

.btn{
    @apply rounded-full py-2 px-3 mx-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}

.navbar{
    @apply hover:text-sky-300 duration-300 sm:px-3 ssm:px-3;
}

.login{
    @apply hover:text-yellow-200 duration-300 sm:px-3 ssm:px-3;
}
.description{
    @apply text-base text-lego
}